DROP PROCEDURE IF EXISTS [dbo].[sp_GetWizardSideNavData]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_GetWizardSideNavData]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[sp_GetWizardSideNavData] AS' 
END
GO
 
 
-- ============================================= 
-- Author: Web App Builder (Generated) 
-- Create date: 08/02/2022
-- Changes:
--      08/07/2023 - jlwalker - Increased length of GroupKey, FieldKey and ParentKey
-- Description:	Used to retrieve the list of screens for a wizard in [LocalizedContentFields] 
-- ============================================= 
 
ALTER procedure [dbo].[sp_GetWizardSideNavData] 
	@groupKey varchar(50)
    ,@language varchar(40) = null
    ,@groupfilter varchar(50) = null
AS 
BEGIN 

SELECT 
    f.FieldKey,
    f.FieldType,
    f.ParentKey,
    f.FieldData,
    ISNULL(t.[Text], f.DefaultLabel) as [Label],
    ISNULL(JSON_QUERY(IIF(ISJSON(FieldData) > 0, FieldData, '{}'), '$.sideNav'), '{}') AS JsonData,
    ISNULL(JSON_VALUE(IIF(ISJSON(FieldData) > 0, FieldData, '{}'), '$.sideNav.class'), '') AS [Class],
    ISNULL(JSON_VALUE(IIF(ISJSON(FieldData) > 0, FieldData, '{}'), '$.sideNav.hidden'), '') AS [Hidden],
    ISNULL(JSON_VALUE(IIF(ISJSON(FieldData) > 0, FieldData, '{}'), '$.sideNav.parent'), '') AS [Parent],
    f.[Order]
FROM 
    LocalizedContentFields f
    LEFT JOIN
    [LocalizedContentText] t
    ON 
        t.GroupKey = f.GroupKey
        AND
        t.FieldKey = f.FieldKey
        AND
        t.ParentKey = f.ParentKey
        AND
        t.[Language] = @language
WHERE 
    f.FieldType = 'SCREEN' 
    AND 
    f.GroupKey = @groupKey
    AND 
    (
        @groupfilter IS NULL
        OR
        @groupfilter = ''
        OR
        f.[GroupKey] LIKE @groupfilter
    )
ORDER BY
    f.[Order]

END


GO
